@use '../_vars.scss' as *;


* {
    font-family: var(--font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.SectionCreateAccount {
    background: #F5F5F5;
    width: 100%;
    padding: 90px 0px 90px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SectionCreateAccount-container {
    max-width: 1100px;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    padding: 10px 100px;
    align-items: center;
    justify-content: center;
}

.SectionCreateAccount-Image {
    width: 482px;
}

.SectionCreateAccount-Image svg {
    width: 390px;
    height: 400px;
}

.SectionCreateAccount-Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
}

.SectionCreateAccount-form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--logo-red);
    margin-top: 40px;
}

.SectionCreateAccount-form-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
}

.SectionCreateAccount-Form-contain {
    display: flex;
    flex-direction: column;
    width: 455px;
    height: 669px;
}

.SectionCreateAccount-Form-contain-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding: 2px 0;
    margin-top: 15px;
    margin-bottom: 3px;
}


.SectionCreateAccount-Form-contain-input,
.inputSignUp {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black);

}

.passwordSignUpInput {
    display: flex;
    align-items: center;
    gap: 130px;
}

.passwordSignUpInput,
.SectionCreateAccount-Form-contain-input {
    width: 85%;
    border-bottom: 1px solid #ACAFAE;
    padding-bottom: 10px;
}

.iconShow-hideSignUp {
    color: #ACAFAE;
    width: 24px;
    height: 24px;
}

.passwordSecurityRecomendations {
    color: #E0A100;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    width: 450px;
    padding: 20px 0;
}

.passwordSecurityRecomendations__box1,
.passwordSecurityRecomendations__box3 {
    flex: 1.5;
}

.passwordSecurityRecomendations__box2 {
    flex: 2;
}

.termsConditionsPromotions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.TemsConditions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.TemsConditions a {
    color: var(--logo-red);
}


.termsConditionsPromotions-checkbox {
    background-color: var(--white);
    cursor: pointer;
    width: 17px;
    border: 1px solid var(--black);
}

.SignUp-button {
    width: 310px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    background: var(--logo-red);
    border-radius: 22px;
    border: none;
    align-self: center;
    margin-top: 18px;
}

.LoginQuestion {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
    margin-top: 8px;
}

.LoginQuestion a {
    color: var(--logo-red);
    margin-left: 6px;
}

/*responsive design*/
@media screen and (max-width:800px) {
    .SectionCreateAccount-Image {
        width: 330px;
    }

    .SectionCreateAccount-Image svg {
        width: 300px;
        height: 350px;
    }

    .SectionCreateAccount {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .SectionCreateAccount-container {
        width: 100vw;
        // height: 100vh;
        padding: 0;
        border-radius: 0px;
    }

    .SectionCreateAccount-Form {
        width: 310px;
    }

    .SectionCreateAccount-form-title {
        font-size: 20px;
        line-height: 24px;
    }

    .SectionCreateAccount-form-subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .SectionCreateAccount-Form-contain {
        width: 320px;
    }

    .SectionCreateAccount-Form-contain-label {
        font-size: 14px;
        line-height: 17px;
    }

    .passwordSignUpInput {
        gap: 20px;
        padding-bottom: 6px;
    }

    .SectionCreateAccount-Form-contain-input {
        border-bottom: 1px solid #ACAFAE;
        padding-bottom: 10px;
    }

    .iconShow-hideSignUp {
        width: 20px;
        height: 20px;
    }

    .passwordSecurityRecomendations {
        font-size: 9.5px;
        line-height: 15px;
        width: 90%;
        gap: 3px;
    }

    .passwordSecurityRecomendations__box1 {
        flex: 2.5;
    }

    .passwordSecurityRecomendations__box2 {
        flex: 3;
    }

    .passwordSecurityRecomendations__box3 {
        flex: 3;
    }

    .termsConditionsPromotions {
        gap: 10px;
        width: 345px;
    }

    .TemsConditions {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        display: flex;
        width: 300px;
    }

    #checkboxPromotions {
        width: 19.4px;
        height: 17px;
    }

    .SignUp-button {
        width: 193px;
        height: 44px;
        padding: 10px;
        font-size: 14px;
        line-height: 17px;
    }

    .LoginQuestion {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

}

@media screen and (max-width:600px) {

    .SectionCreateAccount {
        margin-top: 110px;
    }
}

@media screen and (max-width:550px) {

    .SectionCreateAccount {
        margin-top: 100px;
    }

    .SectionCreateAccount-Image {
        display: none;
    }

    .SectionCreateAccount-container {
        width: 98%;
        height: 100%;
    }


    .SectionCreateAccount-Form {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .SectionCreateAccount-Form-contain {
        width: 100%;
        align-items: center;
    }

    .SectionCreateAccount-form-title {
        text-align: center;
    }

    .SectionCreateAccount-form-subtitle {
        text-align: center;
        font-size: 16px;

    }

    .SectionCreateAccount-Form-contain-label {
        width: 85%;
        font-size: 14px;
        line-height: 17px;
        padding-left: 0px;
    }

    .passwordSecurityRecomendations {
        width: 85%;
        font-size: 10px;
        gap: 1px;
    }

    .termsConditionsPromotions {
        gap: 10px;
        width: 94%;
        align-items: center;
    }

    .SignUp-button {
        width: 185px;
        height: 40px;
    }
}

@media screen and (max-width:370px) {

    .SectionCreateAccount-container {
        width: 100%;

    }

    .SectionCreateAccount-Form {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .SectionCreateAccount-Form-contain-label {
        font-size: 13px;
    }

    .SectionCreateAccount-Form-contain-input {
        width: 80%;
        font-size: 13px;
    }

    .termsConditionsPromotions-checkbox {
        width: 12px;
    }

    .termsConditionsPromotions {
        font-size: 9px;
        gap: 6px;
        width: 90%;
    }

    .SignUp-button {
        width: 175px;
        height: 35px;
    }
}

@media screen and (max-width:350px) {

    .passwordSecurityRecomendations {
        width: 90%;
        font-size: 10px;
        gap: 1px;
    }

    .termsConditionsPromotions {
        font-size: 5px;
    }
}