@import '../vars.scss';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);

}

.section_component_Product_info {
    background: var(--light-gray);
    width: 100%;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container_Card_Information {
    width: 100%;
    height: 87.5vh;
    background: var(--white);
}

.Container_Breadcrums {
    margin-bottom: 31px;
    width: 100%;
    height: 40px;
    margin-top: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.Container_Breadcrums svg {
    color: #000000;
    width: 30px;
}

.Container_Breadcrums ul {
    display: flex;
    list-style: none;
    background: var(--white);
    gap: 8px;

}


.CenterBreadcrums-0 {
    padding-top: 2px;
}

.CenterBreadcrums {
    padding-top: 6px;
}

.Container_Breadcrums a {
    text-decoration: none;
    font-size: 18px;
    color: #ACAFAE;
}

.Container_Breadcrums i {
    cursor: default;
}


.Container_cards {
    display: flex;
    justify-content: center;
    gap: 70px;
}


.Image_Product {
    width: 40%;
    height: 581px;
    display: block;
    justify-content: center;
    align-items: center;
}


.image-big {
    height: 414px;
    width: 358px;
    margin-top: 17px;
    margin-bottom: 9px;
    margin-left: calc((85% - 50%)/2);

    /* IMAGE ZOOM */
    transform-origin: center;
    overflow: hidden;

}


.image-big img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
}


.minigallery {
    display: flex;
    justify-content: center;
}

.minigallery img {
    width: 80px;
    height: 77px;
    margin: 4px;
    object-fit: cover;
    text-decoration: none;
}


.Description_product {
    width: 40%;
    height: 524px;
}

.Description_product h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #C00100;
    margin-bottom: 28px;
}

.Description_product h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 20px;
}

.Description_product p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-bottom: 33px;
}

.content-items-product-info {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

.price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #C00100;
    margin-right: 73px;
}

.quanty {
    display: flex;
    width: 190px;
    height: 44px;
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.elipse-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #D9D9D9;
    cursor: pointer;
}

.number-quanty {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;

}

.btn_Add_car {
    width: 213px;
    height: 48px;
    background: #C00100;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 21px auto;
}

.btn_Add_car a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
}

.personalization-information {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personalization-information div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 5px;

}

.personalization-information a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #C00100;
    ;
}


@media screen and (max-width:1370px) {
    .Container_Card_Information {
        height: 100vh;
    }

    .Image_Product {
        height: 461px;
    }

    .Description_product {
        height: 434px;
    }

    .image-big {
        height: 75%;
        width: 85%;
        margin-left: calc((65% - 50%)/2);
    }

}

@media screen and (max-width:800px) {
    .Container_Card_Information {
        height: 100%;
    }

    .Container_cards {
        display: block;
        gap: 0px;
    }

    .Image_Product {
        width: 90%;
        margin: 5%;
    }

    .Description_product {
        width: 90%;
        height: 100%;
        margin: 5%;
    }

}

@media screen and (max-width:700px) {
    .quanty i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0.3px;
        height: 0.3px;
        margin-left: 11px;
    }

}

@media screen and (max-width:500px) {

    .Container_Breadcrums {
        margin-bottom: 9px;
    }

    .Container_Breadcrums ul {
        padding-inline-start: 5px;
        gap: 3px;
    }

    .Container_Breadcrums svg {
        width: 25px;
    }

    .Container_Breadcrums a {
        text-decoration: none;
        font-size: 13px;
        color: #ACAFAE;
    }

    .minigallery img {
        width: 64px;
        height: 60px;
    }

    .Description_product h1 {
        font-size: 27px;
    }

    .Description_product h2 {
        font-size: 24px;
    }

    .price {
        margin-right: 48px;
    }


    .quanty {
        width: 129.98px;
        height: 35.3px;
        padding: 0px 10px 0px 10px;
    }

    .elipse-btn {
        width: 21.5px;
        height: 21.5px;
    }

    .quanty i{
        width: 0.1px;
        height: 0.1px;
        margin-left: 8.5px;
    }

    .personalization-information {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:355px) {
    .minigallery img {
        width: 62px;
        height: 59px;
        grid: 5px;
        text-decoration: none;
    }

    .price {
        margin-right: 39px;
    }

    .quanty {
        width: 100px;
        height: 33px;
    }
}

@media screen and (max-width:330px) {
    .minigallery img {
        width: 55px;
        height: 57px;
    }
}