@use '../_vars.scss' as *;

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.container_my_account {
    background: var(--light-gray);
    width: 100%;
    padding: 4%;
}

.Name_user_my_account {
    width: 100%;
    height: 113px;
    background: var(--white);
    display: flex;
    align-items: center;
    margin-bottom: 3.5%;
}

.Image_user_my_account {
    height: 100%;
    width: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image_user_my_account img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Name_my_account p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #797373;
}

.Name_my_account b {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 27px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
}

.Datos_personales_my_account {
    width: 100%;
    background: var(--white);
}

.title_date_personal_my_account {
    padding-top: 5%;
    padding-left: 9%;
    margin-bottom: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.items_datos_personales_my_account {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item_my_account_dato {
    width: 243.05px;
    height: 62px;
    margin: 2% 5%;
    padding: 10px;
    display: block;
}

.select_options_my_account {
    display: flex;
}

.select_options_my_account select {
    margin-right: 7px;
}

.select_options_my_account span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-right: 7px;
}

.item_my_account_dato input {
    border: none;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.no_editable_item_my_account_dato input {
    border: none;
    background: var(--white);
}

.select_options_my_account span {
    color: #545454;
}

.container_btn_edit_my_account {
    display: flex;
    justify-content: center;

}

.container_btn_edit_my_account a {
    width: 323px;
    height: 46px;
    background: #E42525;
    border-radius: 15px;
    padding-top: 10px;
    margin-top: 90px;
    margin-bottom: 90px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFE0E0;
}

@media screen and (max-width:1370px) {
    .container_btn_edit_my_account a {
        margin-top: 70px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width:800px) {
    .item_my_account_dato {
        margin: 2% 10%;
    }
}

@media screen and (max-width:500px) {
    .Image_user_my_account img {
        width: 75px;
        height: 75px;
    }

    .Name_my_account b {
        font-size: 20px;
        line-height: 24px;
    }

    .title_date_personal_my_account {
        padding-top: 3%;
        padding-left: 7%;
        margin-bottom: 33px;
        font-size: 20px;
        line-height: 24px;
    }

    .item_my_account_dato {
        margin: 3% 5%;
    }



    .container_btn_edit_my_account a {
        width: 199.27px;
        height: 46px;
        margin-top: 28px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width:350px) {
    .Name_my_account p {
        font-size: 17px;
    }

    .Name_my_account b {
        font-size: 18px;
    }
}

.container-button-iniciar-sesion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.button-iniciar-sesion {
    width: 234px;
    height: 53px;
    margin-top: 10px;
    background: #C00100;
    border-radius: 24px;
    border: none;
    align-self: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}