@import '../vars.scss';

* {
    font-family: var(--font);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.recovering-password-container {
    background: #F5F5F5;
    width: 100%;
    height: 100vh;
    padding: 80px 0px 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.recoverin-password-container-of-container {
    background-color: var(--white);
    padding: 50px 60px;
    border-radius: 20px;
    /*poner la cajita al costado*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 1080px;
    max-height: 800px;
}

.recovering-password-image svg {
    width: 350px;
    height: 400px;
}

.recovering-password-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 40px;
    gap: 10px;
    margin-bottom: 25px;
}

.recovering-password-header p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.recovering-password-header svg {
    width: 50px;
    height: 50px;
}

.recoverin-password-container-content {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    justify-content: center;

}

.recoverin-password-image-letter svg {
    color: var(--logo-red);
    width: 120px;
    height: 120px;
}

.recoverin-password-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.recoverin-password-info {
    color: var(--very-light-gray);
    width: 300px;
    align-items: center;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.recoverin-password-text-label-correo {
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-self: flex-start;
}

.recoverin-password-text-input {
    align-self: flex-start;
    margin-top: 16px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border-bottom: 1px solid #ACAFAE;
    padding-bottom: 10px;
    outline: none;
}

.recoverin-password-button {
    width: 312px;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    background: var(--logo-red);
    border-radius: 22px;
    border: none;
    align-self: center;
    margin-top: 18px;
    margin-bottom: 20px;
}

.recovering-password-link a {
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: var(--logo-red);
    margin-top: 16px;
}

@media screen and (max-width:800px) {

    .recoverin-password-container-of-container {
        align-items: start;
        padding: 0;
        justify-content: flex-start;
        gap: 10px;
        padding: 0px 10px;
    }

    .recovering-password-image {
        display: none;
    }

    .recoverin-password-container-content {
        width: 320px;
        height: 707px;
    }

    .recovering-password-header {
        margin-bottom: 60px;
        font-size: 16px;
    }

    .recoverin-password-form {
        margin-top: 60px;
    }

    .recoverin-password-info {
        margin-bottom: 15px;
    }

    .recoverin-password-text-input {
        width: 95%;
    }
}