@import '../vars.scss';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.recovering-password-container {
    background: var(--light-gray);
    width: 100%;
    padding: 4% 9% 4% 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recoverin-password-container-of-container {
    width: 100%;
    height: 88vh;
    background: var(--white);
    border-radius: 20px;
    display: flex;

}

.recovering-password-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recovering-password-image svg{
    width: 100%;
}

.recoverin-password-container-content {
    width: 40%;

}

.recovering-password-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 40px;
    margin-top: 115px;
}

.recovering-password-header svg {
    width: 25px;
    height: 25px;
}

.recoverin-password-container-content {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    box-sizing: border-box;

}

.recoverin-password-image-letter svg {
    color: var(--logo-red);
    width: 150px;
    height: 150px;
}

.recoverin-password-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.recoverin-password-info {
    color: var(--very-light-gray);
    width: 300px;
    align-items: center;
    text-align: justify;
}

.recoverin-password-text-label-correo {
    margin-top: 16px;
    width: 85%;
    font-size: 14px;
    line-height: 17px;
    padding-left: 0px;
    font-size: 14px;
    line-height: 17px;
}

.recoverin-password-text-input {
    margin-top: 16px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 85%;
    border-bottom: 1px solid #ACAFAE;
    padding-bottom: 10px;
}

.recoverin-password-button {
    width: 312px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    background: var(--logo-red);
    border-radius: 22px;
    border: none;
    align-self: center;
    margin-top: 28px;
    margin-bottom: 14px;
}

.recovering-password-link{
    display: flex;
    justify-content: center;
}

.recovering-password-link a {
    font-size: 14px;
    line-height: 17px;
    color: var(--logo-red);
    margin-top: 16px;
}



@media screen and (max-width:1370px) {
    .recoverin-password-container-of-container {
        height: 93vh;
    }

    .recovering-password-image svg{
        width: 70%;
    }

    .recovering-password-header {
        margin-top: 35px;
    }
}


@media screen and (max-width:800px) {
    .recovering-password-container {
        padding: 4%;
    }

    .recoverin-password-container-of-container {
        height: 94vh;
        background: var(--white);
        display: block;
    }

    .recovering-password-image {
        margin-top: 30px;
        width: 100%;
        height: 40%;
    }
    
    .recoverin-password-container-content {
        width: 100%;
        height: 60%;

    }

    .recovering-password-image svg{
        height: 90%;
    }


}

@media screen and (max-width:500px) {
    .recoverin-password-container-of-container {
        height: 100vh;
        background: var(--white);
    }
    .recovering-password-image {
         display: none; 
    
    }
    .recoverin-password-container-content {
        width: 100%;
        height: 100%;
    }

    .recovering-password-header {
        margin-top: 40px;
    }

    .recoverin-password-image-letter svg {
        margin-bottom: 20px;
        
    }

    .recoverin-password-text-label-correo {
        margin-top: 20px;
        margin-bottom: 3px;
    }

    .recoverin-password-button {
        margin-top: 40px;
        width: 270px;
    }


}

@media screen and (max-width:355px) {

    .recoverin-password-info {
        width: 250px;
        margin: 0 auto;
    }

    .recoverin-password-text-label-correo {
        margin: 17px auto;
    }

    .recoverin-password-text-input {
        margin: 0 auto;
        width: 85%;
    }

    .recoverin-password-button {
        width: 220px;
    }
}