@import '../vars.scss';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

.recovering-password-container {
    // background: var(--light-gray);
    background: #453f3f;
    width: 100%;
    padding: 4%;
}

.recoverin-password-container-of-container {
    width: 100%;
    background: var(--white);
    border-radius: 20px;
    display: flex;
}

.recovering-password-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recovering-password-image svg {
    width: 100%;
}

.recoverin-password-container-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    box-sizing: border-box;
}


.recovering-password-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 40px;
    margin-top: 30px;
}

.recovering-password-header svg {
    width: 25px;
    height: 25px;
}

.recovering-password-header p {
    margin-top: 16px;
}

.recoverin-password-image-letter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.recoverin-password-image-letter svg {
    color: var(--logo-red);
    width: 140px;
    height: 140px;
}

.recoverin-password-form {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
}

.recoverin-password-info {
    color: var(--very-light-gray);
    width: 90%;
    align-items: center;
    text-align: justify;
    margin-bottom: 20px;
}

.recovering_password_container_new_contraseña {
    display: block;
    justify-content: center;
    width: 85%;
}

.recovering_password_container_new_contraseña:nth-child(3) {
    margin-top: 25px;
}

.recovering_password_container_confirm_contraseña {
    margin-top: 25px;
    display: block;
    justify-content: center;
    width: 85%;
}

.recoverin-password-text-label-correo {
    margin-top: 0px;
    width: 85%;
    font-size: 14px;
    line-height: 17px;
    padding-left: 0px;
}

.recoverin-password-text-input {
    margin-top: 0px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 85%;
    border-bottom: 1px solid #ACAFAE;
    padding-bottom: 10px;
}

.recoverin-password-button {
    width: 312px;
    height: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    background: var(--logo-red);
    border-radius: 22px;
    border: none;
    align-self: center;
    margin-top: 28px;
    margin-bottom: 14px;
}

.recovering-password-link {
    display: flex;
    justify-content: center;
}

.recovering-password-link a {
    font-size: 14px;
    line-height: 17px;
    color: var(--logo-red);
    margin-top: 16px;
}


@media screen and (max-width:1370px) {
    .recovering-password-container {
        height: 100%;
    }

    .recoverin-password-container-of-container {
        height: 100%;
    }

    .recovering-password-image svg {
        width: 70%;
    }

    .recovering-password-header {
        margin-top: 35px;
    }

}


@media screen and (max-width:800px) {
    .recoverin-password-container-of-container {
        height: 94vh;
        background: var(--white);
        display: block;
    }

    .recovering-password-image {
        margin-top: 30px;
        width: 100%;
        height: 25%;
    }

    .recovering-password-header {
        margin-bottom: 10px;
    }

    .recoverin-password-container-content {
        width: 100%;
        height: 65%;
    }

    .recovering-password-image svg {
        height: 90%;
    }

    .recoverin-password-image-letter svg {
        width: 120px;
        height: 120px;
    }

    .recoverin-password-form {
        margin-top: 10px;
    }

}

@media screen and (max-width:500px) {

    .recoverin-password-container-of-container {
        height: 100%;
        margin-top: 18%;
        background: var(--white);
    }

    .recovering-password-image {
        display: none;
    }


    .recoverin-password-container-content {
        width: 100%;
        height: 100%;
    }

    .recovering-password-header {
        margin-top: 10px;
    }

    .recoverin-password-image-letter svg {
        width: 110px;
        height: 110px;
    }

    .recoverin-password-text-label-correo {
        margin-top: 20px;
        margin-bottom: 3px;
    }

    .recoverin-password-button {
        margin-top: 40px;
        width: 270px;
    }

}

@media screen and (max-width:355px) {
    .recoverin-password-container-of-container {
        margin-top: 20%;
    }

    .recoverin-password-info {
        width: 250px;
        margin: 0 auto;
    }

    .recoverin-password-text-label-correo {
        margin: 17px auto;
    }

    .recoverin-password-image-letter svg {
        width: 95px;
        height: 95px;
    }

    .recoverin-password-text-input {
        margin: 0 auto;
        width: 85%;
    }

    .recoverin-password-button {
        width: 220px;
    }
}

@media screen and (max-width:330px) {
    .recovering_password_container_new_contraseña {
        margin-top: 3%;
    }

    .recovering_password_container_confirm_contraseña {
        margin-top: 3%;
        margin-bottom: -25px;
    }
}