{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "defaults",
        "modules": false,
        "useBuiltIns": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-jsx"
  ]
}
