@import '../vars.scss';

* {
    top: 0;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    box-sizing: border-box;
}


header {
    background-color: var(--black);
}

.navbar {
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: fixed;
    width: 100%;
}

.prioridad {
    z-index: 1;
}



a {
    color: var(--white);
    text-decoration: none;
}

.navbar__logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    cursor: pointer;
}

.navbar__logo img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar__logo span {
    font-size: 23px;
    margin-right: 10px;
}

.navbar__menucategories .navbar-toggler {
    background-color: var(--black);
    border-radius: 20%;
    height: 35px;
    width: 40px;
    padding: 0px;
}

.container-fluid {
    display: flex;
}

.container-fluid-II {
    display: flex;
}

.iconmenu {
    color: var(--white);
    font-size: 30px;
}

.navbar__menucategory-name_Container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbar__menucategory-name {
    font-size: 18px;
    padding: 2.8px 5px 5px 1px;
}

.offcanvas {
    background-color: var(--black);
    color: var(--white);
    font-size: 1.2rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.navbar-nav a {
    color: var(--white);
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.navbar__menucategories li a:hover {
    background: var(--logo-red);
    color: var(--white);
}


.navbar__search {
    display: flex;
    width: 40vw;
    background-color: var(--white);
    height: 40px;
    align-items: center;
    border-radius: 40px;
}

.navbar__search input {
    border: none;
    outline: none;
    height: 35px;
    font-size: 14px;
    width: 36.4vw;
    margin-left: 11px;
}

.seach_icon {
    font-size: 26px;
    color: var(--black);
    padding-left: 3px;
}

.seach_icon:hover {
    cursor: pointer;
}

.navbar__login {
    margin-left: 23px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
}

/* AUI TERMINA EL SEARCH----------- */

.login-icon {
    font-size: 35px;
    /* border: solid white; */
}

.text-login {
    margin-left: 13px;
    margin-top: 3px;
    line-height: 22px;

}

.navbar__shop {
    margin-left: 23px;
    display: flex;
}

.navbar__shop a {
    font-size: 27px;
}

.navbar__shop div {
    background: var(--logo-red);
    font-size: 18px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 2px 6px;
    position: fixed;
    top: 5px;
    margin-left: 16px;
    text-align: center;
}

@media screen and (max-width:1220px) {
    header {
        max-width: 100%;
    }
}

@media screen and (max-width:900px) {

    .navbar__menucategory-name {
        display: none;
    }

    .navbar__login a {
        display: none;
    }

    .navbar__search input {
        width: 34vw;
    }

    .navbar__shop {
        margin-left: 2px;
    }
}

@media screen and (max-width:700px) {

    .navbar {
        align-items: center;
        height: 130px;
    }

    .navbar__search {
        position: absolute;
        width: 85%;
        top: 78px;
    }

    .navbar__search input {
        box-sizing: border-box;
        height: 35px;
        margin-left: 13px;
    }

    #search {
        width: 280px;
    }

    .seach_icon {
        position: absolute;
        margin-left: 90%;
        font-size: 25px;
    }

    .navbar__logo {
        padding: 0 2px;
        margin-bottom: 44px;
    }

    .navbar__menucategories {
        margin-bottom: 44px;
        text-align: center;
    }

    .navbar__login {
        margin-left: 2px;
        margin-bottom: 44px;
    }

    .navbar__shop {
        margin-left: 2px;
        margin-bottom: 44px;
    }

    .navbar__shop div {
        top: 11px;
        font-size: 16px;
        padding: 2px 4px;
    }
}

@media screen and (max-width:390px) {
    .navbar__logo img {
        width: 45px;
        border-radius: 50%;
        margin-right: 5px;
    }

    #search {
        width: 265px;
    }

    .seach_icon {
        margin-left: 88%;
        font-size: 24px;
    }

}

@media screen and (max-width:354px) {
    .navbar__logo span {
        font-size: 19px;
        margin-right: 7px;
    }

    .container-fluid {
        padding: 0 5px 0 1px;
    }

    #search {
        width: 250px;
    }
}

@media screen and (max-width:320px) {
    .navbar__logo img {
        width: 39px;
        border-radius: 50%;
        margin-right: 10px;
    }

    #search {
        width: 220px;
    }
}