@use '../_vars.scss' as *;


* {
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

.section__beforeFooter {
    background: #D9D9D9;
    display: grid;
    grid-template-columns: repeat(4, 90px);
    justify-content: center;
    align-items: start;
    gap: 200px;
    height: 300px;
}

.section_beforeFooter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.section_beforeFooter-container:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.section_beforeFooter-container:hover .section__beforeFooter-title {
    text-decoration: underline;
}

.section__beforeFooter-img {
    background: #fff;
    width: 140px;
    height: 130px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.section__beforeFooter-img img {
    width: 70px;
}

.section__beforeFooter-title {
    text-align: center;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
}


@media screen and (max-width:800px) {

    .section__beforeFooter {
        grid-template-columns: repeat(5, 0px);
    }

    .section__beforeFooter-img {
        margin-left: 45px;
        width: 110px;
        height: 100px;
    }

    .section__beforeFooter-img img {
        width: 55px;
    }

    .section__beforeFooter-title {
        margin-left: 25px;
        font-size: 15px;
    }

}

@media screen and (max-width:500px) {

    .section__beforeFooter {
        grid-template-columns: repeat(2, 120px);
        row-gap: 1px;
        column-gap: 60px;
        height: 450px;
        align-items: start;
    }


    .section_beforeFooter-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 25px;
    }

    .section__beforeFooter-img {
        margin-left: -8px;
    }

    .section__beforeFooter-title {
        font-size: 14px;
        margin-left: -10px;
    }
}


@media screen and (max-width:320px) {

    .section__beforeFooter {
        column-gap: 30px;
        height: 450px;

    }

    .section__beforeFooter-img {
        width: 90px;
    }

    .section__beforeFooter-img img {
        width: 45px;
    }

    .section__beforeFooter-img {
        margin-left: -8px;
    }

    .section__beforeFooter-title {
        margin-left: -10px;
    }
}