@import '../vars';

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    box-sizing: border-box;
}

.slider {
    width: 100%;
    height: 600px;
    overflow: hidden;

    
    margin-bottom: 60px;
}

.slides {
    width: 500%;
    height: 600px;
    display: flex;

}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 620px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid var(--very-light-gray);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background: var(--text-input-field);
}

#radio1:checked~.firts {
    margin-left: 0;
}

#radio2:checked~.firts {
    margin-left: -20%;
}

#radio3:checked~.firts {
    margin-left: -40%;
}

#radio4:checked~.firts {
    margin-left: -60%;
}



.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 620px;
}

.navigation-auto div{
    border: 2px solid var(--very-light-gray);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 20px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: var(--very-light-gray);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: var(--very-light-gray);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: var(--very-light-gray);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: var(--very-light-gray);
} 

