@import '../vars';

body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

.sectionFooter{
    background: #2F2F2F;
    width: 100%;
    height: 410px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.Footer__box1{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
}

.Footer__box1-logo img{
    width: 246px;
    height: 246px;
    border-radius: 50%;
}

.Footer__box1-information{
    max-width: 395px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Footer__box1-title{
    font-weight: bold;
    font-weight: 18px;
    margin-bottom: 22px;
}

.Footer__box1-paragraph{
    font-size: 16px;
    text-align: justify;
}

.Footer__box1-locationInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Footer__box1-locationIcon{
    display: flex;
    flex-direction: column;
}

.Footer__box1-locationIcon svg{
    width: 40px;
}

.Footer__box1-locationIcon span{
    font-size: 16px;
}

.Footer__box1-Social{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.Footer__box1-Social1Icons a svg{
    color: var(--white);
    width: 45px;
}

.Footer__box1-Social1Icons a:nth-child(2){
    margin-left: 10px;
}

.Footer__box1-Social2-Contacto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Footer__box1-Social2-Icon{
    display: flex;
    align-items: center;
    gap:15px;
}

.Footer__box1-Social2-Icon svg{
    width: 35px;
}

.Footer__box1-Social2-Icon span a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.Footer__box2{
    text-align: center;
    padding: 5px;
}

/*responsive design smarthphone*/
@media screen and (max-width:800px) {
    
.sectionFooter{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.Footer__box1{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

.Footer__box1-logo img{
    width: 150px;
    height: 150px;
}

.Footer__box1-information{
    width: 300px;
    gap: 10px;
}

.Footer__box1-locationIcon svg{
    width: 30px;
}

.Footer__box1-Social{
    gap: 20px;
    width: 300px;
    height: 200px;
}

.Footer__box1-Social1Icons a svg{
    width: 35px;
}

.Footer__box1-Social2-Icon{
    display: flex;
    align-items: center;
    gap:10px;
}

.Footer__box1-Social2-Icon svg{
    width: 25px;
}

.Footer__box2{
    height: 30px;
    margin-top: 0px;
    text-align: center;
}
}

@media screen and (max-height:990px) and (max-width:600px){
    .sectionFooter{
        height: 940px;
    }
    
}
