@use '../_vars.scss' as *;

* {
    font-family: var(--font);
}

.section__news-offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.section__news-offers-title{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 42px;
}

.section__news-offers-images{
    display: flex;
    gap: 80px;
}

.box-news{
    background: #D9D9D9;
    width: 321.11px;
    height: 276px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.box-news img{
    width: 286px;
    height: 239px;
    transition: transform .3s;
}

.box-news img:hover{
    transform: scale(1.3); 
    cursor: pointer;
}

/*responsive smartphone*/
@media screen and (max-width: 800px) {

    .section__news-offers-title{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 30px;
    } 

    .section__news-offers-images{
        gap: 30px;
        flex-direction: column;
    }

    .box-news{
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 200px;
    }
    
    .box-news img{
        width: 320px;
        height: 200px;
        border-radius: 60px;
        padding: 0 26px ;
        object-fit: cover;
    }

}

