:root {
    /* colors*/
    --white: #FFFFFF;
    --black: #000000;
    --dark-red: #720007;
    --logo-red: #C00100;
    --very-light-gray: #ADA4A4;
    --text-input-field: #f1f1f1;
    --gold: #D9AC2A;
    /* COLORES AÑADIDOS */
    --orange:#F25C05;
    --light-orange:#F28705;


    /*size*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    /*font*/
    --font: 'Inter', sans-serif;
}