:root {
    /* colors*/
    --white: #FFFFFF;
    --black: #000000;
    --dark-red: #720007;
    --logo-red: #C00100;
    --very-light-gray: #ADA4A4;
    --text-input-field: #f1f1f1;
    --gold: #D9AC2A;

    // Create account
    --gains-boro:#EBEBEB;

    // color the filter
    --light-Blue:#ADD8E6;
    --Dim-gray:#696969;

    /*size*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    /*font*/
    --font: 'Inter', sans-serif;
}