:root {
    /* colors*/
    --white: #FFFFFF;
    --black: #000000;
    --very-light-gray: #ADA4A4;
    --text-input-field: #f1f1f1;
    --logo-red: #c00100;

    /*size*/
    --sm: 14px;
    --md: 16px;
    --lg: 22px;

    /*font*/
    --font: 'Inter', sans-serif;
}