

body{
    font-family: var(--font);
    background-color: rgb(235, 235, 235);
}

.box-main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    background-color: var(--white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: 0px 5px 29px -13px #000;
    border-radius: 12px;
    justify-items: center;
    width: 40%;
}

#icon-security{
    font-size: 10rem;
    margin-top: 3rem;
    margin-bottom: 40px;
    color: var(--logo-red);
}

.title{
    font-size: var(--lg); 
    margin-bottom: 34px;
    text-align: center;
    color: var(--black);
}
 
.form{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 10px;
}


.input-password{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 28px;
    width: 20rem;
    font-size: var(--md);
    padding: 4px;
    margin-bottom: 25px;
    outline: none;
}

.button-confirm{
    background-color: var(--logo-red);
    border:none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 23px;
    height: 48px;
    color: var(--white);
    font-weight: bold;
    font-size: var(--md);
    font-family: var(--font);
    margin-bottom: 9rem;
}