@import 'vars';

body{
    background-color: rgb(235, 235, 235);
    font-family: var(--font);
}

body .login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    
}


body .container{
    background-color: var(--white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 30%;
    height: 81%;
    box-shadow: 0px 5px 29px -13px #000;
    border-radius: 12px;
    padding: 9px 23px;
    justify-items: center;
}

.container .logo{
    width: 150px;
    margin-top: 3rem;
    margin-bottom: 40px;
    justify-self: center;
    border-radius: 50%;
}

.container .title{
   font-size: var(--lg); 
   margin-bottom: 11px;
   text-align: center;
   color: var(--black);
}

.container .subtitle{
    color: var(--very-light-gray);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
}

.container .form{
    display: flex;
    flex-direction: column;
}

.form .label-description{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 6px;
}

.form .label-input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 28px;
    font-size: var(--md);
    padding: 5px;
    margin-bottom: 25px;
    outline: none;
}

i{
    position: relative;
    font-size: 23px;
    margin: -59px 0 0 350px;
    background-color: var(--text-input-field);
    opacity: 1.3;
    cursor: pointer;
}

i:hover{
    color: var(--logo-red);
}

.container-check{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.form .button-create{
    background-color: var(--logo-red);
    border:none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 23px;
    height: 48px;
    color: var(--white);
    font-weight: bold;
    font-size: var(--md);
    font-family: var(--font);
    margin-bottom: 14rem;
}

