@import 'vars';

*{
    font-family: var(--font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container{
    width: 100%;
    background-color:  var(--black);
    color: var(--white);
}

.footer-container .group-1{
    width: 100%;
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 70px 0px;
}

.footer-container .group-1 figure{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container .group-1 img{
    width: 18rem;
    border-radius: 50%;
}

.footer-container .group-1 h2{
    margin-bottom: 15px;
    font-size: var(--lg);
}

.footer-container .group-1 .box p{
    font-size: var(--sm);
}

.footer-container .group-1 .contacto-red{
    display: grid;
}

.footer-container .group-1 .contacto-red .box a{
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    color: var(--white);
    margin-right: 13px; 
}

.footer-container .group-1 .contacto-red .box a:hover{
    color: var(--logo-red);
}


.footer-container .group-1 .contacto-red .box2 a{
    text-decoration: none;
    font-size: 35px;
    color: var(--white);
}

.footer-container .group-1 .contacto-red .box2 a label{
    margin-left: 22px;
    font-size: var(--sm);
}

.footer-container .group-2 {
    font-size: var(--md);
    text-align: center;
}

/*responsive*/
@media screen and (max-width:600px){
    .footer-container .group-1{
        width: 100%;
        height: 90vh;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        padding: 13px 10px;
    }

    .footer-container .group-1 img{
        width: 14rem;
    }
}