:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-gray: #ADA4A4;
    --text-input-field: #f1f1f1;
    --logo-red: #c00100;
    /*size*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    /*font*/
    --font: 'Inter', sans-serif;

}

body {
    margin: 0;
    font-family: var(--font)
}



.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.title {
    font-size: var(--lg);
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 24px;
    justify-self: center;
    border-radius: 50%;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
}

.form a {
    color: var(--logo-red);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 34px;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}


.primary-button {
    background-color: var(--logo-red);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--logo-red);
    color: var(--logo-red);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

@media (max-width: 640px) {
    .logo {
        display: block;
    }
}