@import 'vars';

body {
    font-family: var(--font);
}

.myCount {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    border-radius: 16px;
    border: 1px solid var(--logo-red);
    padding: 24px 30px;
    background-color: var(--white);
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 414px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-input {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: var(--lg);
}


.label {
    font-size: var(--sm);
    
    margin-bottom: 4px;
}

.input {
    background-color: var(--white);
    text-decoration: underline solid var(--very-light-gray);
    border: none;
    height: 30px;
    font-size: var(--md);    
    outline: none; 
    color:  var(--black);
}


.save-button {
    background-color: var(--logo-red);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 195px;
    cursor: pointer;
    font-size: var(--md);
    height: 40px;
}
.cancel-button {
    margin-top: 12px;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--logo-red);
    color: var(--logo-red);
    width: 195px;
    cursor: pointer;
    font-size: var(--md);
    height: 40px;
}