@import '../vars';

* {
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

.ComponentModalLogin {
    background: #FFFFFF;
    border-radius: 30px;
    width: 330px;
    height: 480px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    //
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ComponentModalLogin__close {
    align-self: flex-end;
    cursor: pointer;
}

.ComponentModalLogin__close svg {
    color: #ACAFAE;
    width: 24px;
    height: 24px;
}

.ComponentModalLogin__header {
    display: flex;
    align-items: center;
    gap: 14px;
}

.ComponentModalLogin__header-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ComponentModalLogin__header-title {
    font-size: 20px;
    line-height: px;
}

.ComponentModalLogin__FormLogin {
    margin-top: 8px;
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.labelFormLogin {
    font-size: 16px;
    line-height: 4px;
}

.inputFormLogin {
    font-size: 16px;
    line-height: 18px;
    outline: none;
    border: none;
    padding: 15px 0;
    width: 90%;
    color: #000000;
}

.passwordLoginInput {
    display: flex;
    align-items: center;
    gap: 70px;
    color: #ACAFAE;
}

.passwordLoginInput,
.emailLoginInput {
    width: 90%;
    border-bottom: 1px solid #ACAFAE;
}

.iconShow-hideLogin {
    color: #ACAFAE;
    width: 24px;
    height: 24px;
}

.forgotPasswordLogin {
    align-self: flex-end;
    margin-right: 42px;
    margin-top: 10px;
}

.forgotPasswordLogin a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.buttonLogin {
    width: 234px;
    height: 53px;
    margin-top: 10px;
    background: #C00100;
    border-radius: 24px;
    border: none;
    align-self: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

.ComponentModalLogin__o {
    align-self: center;
    margin-top: 12px;
    font-size: 18px;
    line-height: 16px;
}

.ComponentModalLogin__signUp {
    align-self: center;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.ComponentModalLogin__signUp a {
    text-decoration: none;
    color: #C00100;
}

.portal-login-background {
    background: rgba(32, 35, 41, .8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}