@import '../vars';

* {
    font-family: var(--font);
    margin: 0;
    padding: 0;
}


.modal-carrito {
    border: 2px solid rgb(235, 235, 235);
    border-radius: 8px;
    width: 800px;
    padding: 0px 15px;
    background: var(--white);
    
}

.title {
    padding: 10px 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-check {
    color: green;
    font-size: 30px;
}

.title1 {
    font-weight: bold;
}

.icon-close {
    color: var(--very-light-gray);
    font-size: 22px;
}

.icon-close:hover,
.icon-remove:hover,
.icon-add:hover {
    cursor: pointer;
}

.container-carrito {
    height: 150px;
    padding: 10px 20px;
    display: flex;
    gap: 80px;
    margin-top: 16px;
}

.descripcion {
    display: flex;
    gap: 20px;
}

.image-container {
    width: 120px;
    border: 1px solid #000;
}

.categoria {
    color: var(--very-light-gray);
    margin-bottom: 8px;
}

.nombre {
    margin-bottom: 4px;
}

.precio-prod {
    color: var(--logo-red);
    font-size: 24px;
}

.add-remove {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 30px;
}

.icon-remove,
.icon-add {
    background: rgb(235, 235, 235);
    height: 22px;
    color: var(--black);
    padding: 6px 8px;
    border-radius: 5px;
}

.cont {
    font-size: 20px;
}

.text {
    display: flex;
    gap: 6px;
    padding: 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
    align-items: center;
}

.icon-exclamation {
    color: var(--logo-red);
    font-size: 20px;
}

.exclamation-text {
    font-size: 14px;
}

.continue {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    align-items: center;
}

.link-continue a {
    color: var(--logo-red);
    text-decoration: none;
    font-size: 16px;
}

.primary-button button {
    background: var(--logo-red);
    border: none;
    color: var(--white);
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    padding: 15px 20px;
}

@media screen and (max-width:600px) {
    .modal-carrito {
        width: 320px;
    }

    .title {
        padding: 0 0 10px 0;
        justify-content: center;
        gap: 10px;
    }

    .title1 {
        font-size: 14px;
    }

    .container-carrito {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 0;
    }


    .image-container {
        width: 120px;
        border: 1px solid #000;
    }

    .precio,
    .add-remove {
        align-self: flex-end;
    }

    .text {
        margin-top: 50px;
    }

    .link-continue a {
        font-size: 14px;
    }

    .primary-button button {
        font-size: 14px;
        border-radius: 20px;
        padding: 15px;
    }
}
.portal-add-cart {
    background: rgba(32, 35, 41, .8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}