@use '../_vars.scss' as *;

* {
    font-family: var(--font);
    padding: 0;
    margin: 0;
}

.menuLateralCategorias {
    background: var(--black);
    width: 300px;
    height: 100vh;
    //agregar 
    position: fixed;
}

.semiprioridad {
    z-index: 1;
}


.menuLateralCategorias__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

.menuLateralCategorias__title {
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
}

.menuLateralCategorias__close {
    color: #D9D9D9;
    font-size: 22px;
    cursor: pointer;
}

.menuLateralCategorias__container-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 35px;
}

.menuLateralCategorias__container-categ {
    padding: 15px;
    width: 80%;
    border-radius: 20px;
}

.menuLateralCategorias__container-categ:hover {
    background: var(--logo-red);
}

.menuLateralCategorias__container-categ a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width:800px) {
    .menuLateralCategorias {
        width: 60vw;
    }
}

.portal-menu-principal {
    background: rgba(32, 35, 41, .8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}