:root{
    /* colors*/
    --white: #FFFFFF;
    --black: #000000;
    --very-light-gray: #ADA4A4;
    --text-input-field: #f1f1f1;
    --logo-red: #c00100;

    /*size*/
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    /*font*/
    --font:'Inter', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font)
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 10px;
}

.product-card {
    width: 240px;
}

.product-card img {
    width: 200px;
    height: 200px;
    margin: auto;
    /*border-radius: 20px;*/
    object-fit: cover;
    border-radius: 20px;

}

.product-info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 12px;
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 35px;
    height: 35px;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 4px;
    color: var(--very-light-gray);
}
.product-info div p:nth-child(3) {
    font-size: var(--md);
    margin-top: 2px;
    margin-bottom: 0;
    margin-bottom: 6px;
    color: var(--logo-red);
}
.product-info div p:nth-child(4) {
    font-size: var(--md);
    margin-top: 2px;
    margin-bottom: 0;
    margin-bottom: 6px;
    color: var(--very-light-gray);
}
/*Revisar botones*/
.secondary-button {
    background-color: var(--white);
    border-radius: 25px;
    border: 1px solid var(--logo-red);
    color: var(--logo-red);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
}



@media (max-width: 640px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }

    .product-card {
        width: 140px;
    }

    .product-card img {
        width: 140px;
        height: 140px;
    }
}