    h1 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .category,
    .product {
        font-size: 18px;
        cursor: pointer;
    }

    .category:hover,
    .product:hover {
        color: #007bff;
    }