.container-table {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid purple;
}

thead th:nth-child(1) {
    width: 4%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 15%;

}

.part-image {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

thead th:nth-child(4) {
    width: 15%;
}

thead th:nth-child(5) {
    width: 15%;
}

th,
td {
    padding: 20px;
}

/* typography */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th,
tfoot th {
    font-family: 'Rock Salt', cursive;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: right;
}

.button-editar {
    border: none;
    background: #720007;
    color: white;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    border-radius: 16px;
}

.button-eliminar {
    border: none;
    background: #E0A100;
    color: white;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    border-radius: 16px;
}
.boton-añadir {
    border: none;
    background: #720007;    color: white;
    font-size: 13px;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    border-radius: 16px;
}
.container-boton-añadir {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}