@import '../vars.scss';

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

header {
    background-color: var(--black);
}

.navbar {
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

a {
    color: var(--white);
    text-decoration: none;
}

.navbar__logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    pointer-events: none;
}

.navbar__logo img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar__logo span {
    font-size: 23px;
}

.navbar__menucategories .navbar-toggler {
    background-color: var(--logo-red);
    border-radius: 20%;
    height: 35px;
    width: 40px;
    padding: 0;
}

.iconmenu {
    color: var(--white);
    font-size: 24px;
}

.navbar__menucategory-name {
    font-size: 18px;
    padding: 5px 5px 5px 1px;
}

.offcanvas {
    background-color: var(--black);
    color: var(--white);
    font-size: 1.2rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--white);
    font-weight: 600;
    text-align: center;
}

.navbar-nav a {
    color: var(--white);
}

.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.navbar__menucategories li a:hover {
    background: var(--logo-red);
    color: var(--white);
}

.navbar__search {
    display: flex;
    width: 40vw;
    background-color: var(--white);
    height: 40px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.navbar__search input {
    border: none;
    outline: none;
    padding: 0 0 0 10px;
    font-size: 14px;
    width: 40vw;
}

.navbar__search a {
    color: var(--black);
    padding: 10px 15px 9px 15px;
    background-color: var(--very-light-gray);
    font-size: 14px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navbar__login {
    margin-left: 23px;
    font-size: 18px;
    cursor: pointer;
}

.navbar__shop {
    margin-left: 23px;
    display: flex;
}

.navbar__shop a {
    font-size: 23px;
}

.navbar__shop div {
    background: var(--logo-red);
    font-size: 18px;
    border-radius: 50%;
    padding: 2px 6px;
    position: fixed;
    top: 6px;
    margin-left: 14px;
    text-align: center;
    position: absolute;

    
}

@media screen and (max-width:700px) {
    .navbar {
        align-items: center;
        height: 130px;
    }

    .navbar__search {
        position: absolute;
        align-items: center;
        width: 83vw;
        top: 78px;
    }

    .navbar__logo {
        padding: 0 2px;
        margin-bottom: 44px;
    }

    .navbar__menucategories {
        margin-bottom: 44px;
        text-align: center;
    }

    .navbar__login {
        margin-left: 2px;
        margin-bottom: 44px;
    }

    .navbar__shop {
        margin-bottom: 44px;
    }

    .navbar__shop div {
        top: 11px;
    }
}

@media screen and (max-width:900px) {
    .navbar__menucategory-name {
        display: none;
    }

    .navbar__login a {
        display: none;
    }
}

@media screen and (max-width:1220px) {
    header {
        max-width: 100%;
    }
}